@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
	margin: 0;
	box-sizing: border-box;
}
.img {
	background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.5) 0%,
			rgba(0, 0, 0, 0.5) 100%
		),
		lightgray 50% / cover no-repeat;
}

.rad {
	border-radius: 0px 45px 45px 0px;
	border: 1px solid rgba(0, 0, 0, 0.3);
}
